### 1º Voy a priorizar en primer lugar a los  diseñadores y desarrolladores (lugares con aglomeración de empresas de videojuegos y tecnológicas que hayan facturado más de 1M en su historia, las de videojuegos cumplen el perfil en este caso)

Me quedo de la base de datos Companies con las empresas de videojuegos que han facturado más de 1M, ejecuto el script que escribe el json con la consulta filtrando la base de datos todo con el formato adecuado

In [1]:
from getJsonGames1M import writeJsonOffice
writeJsonOffice()

Hago el mongoimport e importo la colección a la base de datos,indexo el campo position como índice geoespacial. Ahora puedo buscar los lugares donde se aglomeran estas empresas, y buscar la lista de ciudades. El scrip devuelve una lista de ciudades donde hay empresas que a 100km a la redonda tienen más de 5 empresas de videojuegos que han facturado más de 1M, creo que es suficiente para satisfacer a los desarrolladores y a los diseñadores.

In [2]:
from getCitiesDevNDesigner import citiesDevNDesignerOK
citiesDevNDes = citiesDevNDesignerOK()

In [3]:
len(citiesDevNDes)

45

### 2º En las anteriores ciudades voy a buscar qué tal son las comunicaciones, así cumplo con el requisito de los ejecutivos, para ello ejecuto el script que buscará aeropuertos, estaciones de tren y autobús con la api de google place pasándole el diccionario de las ciudades con sus coordenadas. El criterio va a ser que al menos haya 1 aeropuerto y 10 estaciones de tren o metro en 20 km a la redonda. Es de suponer que todas las ciudades que cumplan el criterio también tendrán buenas comunicaciones por carretera.

In [4]:
from filterCitiesForExecutive import getCities

In [5]:
cities = getCities(citiesDevNDes)

In [6]:
len(cities)

37

### 3º Ahora voy a buscar ciudades con una buena aglomeración de Starbucks, pienso que 5 en 10 km a la redonda es adecuado

In [7]:
from filterCitiesStarbucks import filterStarbucks

In [8]:
cities = list(filter(filterStarbucks,cities))

In [9]:
len(cities)

37

### 4º El siguiente filtro que voy a aplicar a mi lista es uno que satisfaga a las familias, me ha parecido que el criterio de que haya más de 3 lugares con la palabra universidad en 10 km cuadrados es un buen criterio, si hay universidades también hay colegios y guarderías para los niños

In [14]:
from filterCitiesSchool import filterUniversity
cities = list(filter(filterUniversity,cities))

In [15]:
len(cities)

35

### 5º Ahora voy a buscar que haya una buenna aglomeración de bares en la ciudad, si hay bares habrá discotecas y demás establecimientos de ocio nocturno y diurno.55 bares en 10 km

In [16]:
from filterCitiesBar import filterBar
cities = list(filter(filterBar,cities))

In [17]:
len(cities)

34

### 6º Ciudades veganas, mas de 20 sitios que contengan 'vegan' en 10km a la redonda

In [21]:
from filterCitiesBar import filterVegan
cities = list(filter(filterVegan,cities))
len(cities)

29

### 7. Hago un scraping para  añadir a cada ciudad su índice de coste de vida, me quedaré con el más bajo, creo que eso es bueno tanto para los trabajadores como para la empresa, porque ese índice incluye la adquisición de bienes y servicios.

In [23]:
from getIndexCost import getLCostIndex
import pandas as pd
pd.DataFrame(getLCostIndex(cities)).sort_values(by ='liveCostIndex' ).reset_index().drop(columns = 'index').to_csv('../outputs/okByCost.csv')

In [24]:
pd.read_csv('../outputs/okByCost.csv').drop(columns = 'Unnamed: 0')

              city        lat        long  liveCostIndex
0        Cambridge  42.372200  -71.114382          69.03
1      Los Angeles  37.446823 -122.161523          78.99
2        Singapore  37.580304 -122.343679          80.23
3     Philadelphia  39.952576  -75.165252          83.49
4           Boston  42.349149  -71.062173          86.65
5         Brooklyn  40.714953  -73.968431          86.95
6    San Francisco  37.751236 -122.381152          89.36
7         New York  40.735782  -73.979035         100.00
8    Mountain View  37.399529 -122.067236            NaN
9        San Mateo  37.514257 -122.253732            NaN
10    Redwood City  37.474703 -122.216019            NaN
11       Palo Alto  37.429703 -122.154273            NaN
12       Sunnyvale  37.393122 -122.009491            NaN
13      Menlo Park  37.419240 -122.208414            NaN
14       San Bruno  37.627971 -122.426804            NaN
15       Los Gatos  37.251420 -121.968687            NaN
16     Mill Valley  37.906966 -122.545763            NaN
17        Berkeley  37.871680 -122.269494            NaN
18       Sausalito  37.862592 -122.493561            NaN
19      Burlingame  37.590339 -122.341715            NaN
20      Emeryville  37.848641 -122.289498            NaN
21    Santa Monica  34.019315 -118.487594            NaN
22     Culver City  34.010049 -118.397909            NaN
23        Torrance  33.823100 -118.328584            NaN
24  West Hollywood  34.090641 -118.374075            NaN
25    Century City  34.057646 -118.417382            NaN
26      El Segundo  34.048857 -118.251343            NaN
27            Brea  33.913321 -117.878903            NaN
28   Beverly Hills  34.067554 -118.395658            NaN

#### Los NaN son sitios que no ha encontrado el scraping, es lógico pues se corresponden a distritos de ciudades que sí que se encontró en el scraping, es facilmente comprobable sólo echando un vistazo a los valores de latitud y longitud. Ya hay una ciudad que cumple todas las necesidades, es Cambridge

### 8. Obtengo todas la compañías de Cambridge con el formato adecuado para indexar

In [1]:
from getJsonCambridge1M import writeJsonOfficeCambridge
writeJsonOfficeCambridge()

Importo el Json como una nueva colección a mi base de datos, sobre esa colección elaboraré la solución final.

In [2]:
def officeCambridgeOk():
    from pymongo import MongoClient
    import pandas as pd
    from getMongoClient import getClient
    from getEnv import getVariable
    client = getClient()
    dbCompanies = client.companies
    cambridge1m = list(dbCompanies.cambridge.find())
    listCambridge = getListOffice2km(cambridge1m,dbCompanies)


    #listGame1M100K=list(filter(lambda df:True if df.name.count() in range(5,maximo+1) else False,listGame1M100K))

    return listCambridge


def getCompaniesNear(lat,long, min_Distance,db):
    return list(db.cambridge.find({
        "position": {
            "$near": {
               "$geometry": {
                  "type": "Point" ,
                  "coordinates": [ long , lat ]
               },
               "$minDistance": min_Distance
             }
       }
    }))

def getListOffice2km(listOffice,db):
    import pandas as pd
    listDf = []
    for ele in listOffice:
        df = pd.DataFrame(getCompaniesNear(ele['lat'],ele['long'],2000,db))
        listDf.append(df.reset_index().drop(columns=['index','_id','position']))
    return listDf

In [3]:
l = officeCambridgeOk()
len(l)

77

In [4]:
import pandas as pd
pd.DataFrame(l[0])

,name,category,city,money_raised,founded_year,lat,long
0,MetaCarta,mobile,Cambridge,$10M,2001,42.362360,-71.099692
1,CityVoter,web,Cambridge,$4.18M,2005,42.358184,-71.106389
2,galaxyadvisors,network_hosting,Cambridge,$600k,2007,42.393551,-71.128231
3,LocaModa,advertising,Cambridge,$7.9M,2007,42.358822,-71.104329
4,Quanterix,biotech,Cambridge,$41.5M,2007,42.366326,-71.091795
5,Upland Software,software,Cambridge,$23.3M,1998,42.365612,-71.092202
6,Greentech Media,news,Cambridge,$4.58M,2007,42.360475,-71.095416
7,WebLayers,software,Cambridge,$10M,2002,42.377535,-71.149057
8,Forrester Research,consulting,Cambridge,$0,1983,42.363200,-71.092378
9,Sirtris Pharmaceuticals,biotech,Cambridge,$82M,2004,42.363567,-71.091189
10,Akamai Technologies,enterprise,Cambridge,$0,1998,42.364059,-71.089070
11,Lookery,web,Cambridge,$3.15M,2007,42.398424,-71.130297
12,Digimind,software,Cambridge,$0,1998,42.389410,-71.146011
13,Curl,software,Cambridge,$0,1998,42.362993,-71.086596
14,Vanu,software,Cambridge,$42.2M,1998,42.362993,-71.086596
15,Sand 9,mobile,Cambridge,$70.2M,2007,42.348889,-71.106805
16,Mazu Networks,security,Cambridge,$7M,2000,42.395219,-71.145326
17,CambridgeSoft,network_hosting,Cambridge,$54.3M,1986,42.394909,-71.146291
18,WebNotes,web,Cambridge,$345k,2007,42.360098,-71.085909
19,Dataupia,enterprise,Cambridge,$41M,2005,42.398846,-71.140496
20,Tiverias Apps,software,Cambridge,$0,2009,42.367287,-71.081447
21,Sponty,web,Cambridge,$0,2008,42.367287,-71.081447
22,VitalLock,web,Cambridge,$0,2009,42.362856,-71.083762
23,Geocade,games_video,Cambridge,$0,2008,42.362856,-71.083762
24,Tokai Pharmaceuticals,biotech,Cambridge,$100M,2004,42.362856,-71.083762
25,MANHUNT,web,Cambridge,$0,2002,42.363585,-71.082461
26,Living Proof,biotech,Cambridge,$53M,2004,42.366188,-71.080298
27,Lightwave Power,cleantech,Cambridge,$13M,2008,42.392628,-71.151216
28,PatientsLikeMe,health,Cambridge,$27M,2004,42.367499,-71.079395
29,Pegasystems,software,Cambridge,$0,1983,42.362330,-71.081527
30,YouCastr,games_video,Cambridge,$500k,2007,42.367870,-71.078258
31,IdeaPaint,ecommerce,Cambridge,$13.3M,2008,42.369481,-71.077187
32,Sermo,health,Cambridge,$41M,2006,42.364367,-71.078978
33,Pivot,software,Cambridge,$13.1M,2004,42.364367,-71.078978
34,Bitstream,mobile,Cambridge,$0,1987,42.363466,-71.078664
35,Taligen Therapeutics,biotech,Cambridge,$78.8M,2004,42.363466,-71.078664
36,Above the Fold,other,Cambridge,$0,2004,42.357489,-71.055591
37,mBLAST,software,Cambridge,$0,2000,41.815805,-72.171057
38,Aileron Therapeutics,biotech,,$99.5M,2005,42.101977,-72.637994
39,Bango,mobile,New York,$10.2M,1999,40.741249,-73.991252
40,iSkoot,mobile,San Francisco,$32.2M,2005,37.780134,-122.396744
41,Lookery,web,San Francisco,$3.15M,2007,37.788266,-122.403865
42,Bango,mobile,Cambridge,$10.2M,1999,52.215538,0.124024
43,Gameware Development,software,Cambridge,$0,2003,52.205194,0.130733
44,JoggingBuddy,web,Cambridge,$0,2008,52.202544,0.131237
45,Broadersheet,web,Cambridge,$0,2009,52.202544,0.131237
46,TextMagic,mobile,Cambridge,$0,2001,52.202544,0.131237
47,flexjex,public_relations,Cambridge,$0,2008,52.202544,0.131237
48,Hypertag,mobile,Cambridge,$0,2001,52.202544,0.131237
49,Moviestorm,software,Cambridge,£4.3M,2005,52.197471,0.130588
50,Evi,search,Cambridge,£2.6M,2005,52.195668,0.130647
51,AllYearbooks,web,Cambridge,$0,2004,52.199289,0.138085
52,Go Test It,network_hosting,Cambridge,$0,2007,52.196373,0.198743
53,galaxyadvisors,network_hosting,Aarau,$600k,2007,47.394253,8.049379
54,Pingability,network_hosting,Cambridge,$0,2005,-37.891488,175.469740