In [68]:
from pymongo import MongoClient
import pandas as pd
from getMongoClient import getClient
from getEnv import getVariable
client = getClient()
dbCompanies = client.companies

In [78]:
getVariable('mapsToken')

'AIzaSyAWOeqFo9FFnqbtPaZbKF_eF4KqD2uhILU'

In [53]:
videGamesMt1M = list(dbCompanies.games1m.find())

In [54]:
def getCompaniesNear(lat,long, max_meters):
    return list(dbCompanies.games1m.find({
        "position": {
            "$near": {
               "$geometry": {
                  "type": "Point" ,
                  "coordinates": [ long , lat ]
               },
               "$maxDistance": max_meters
             }
       }
    }))

In [55]:
def getListOffice100km(listOffice):
    listDf = []
    for ele in listOffice:
        df = pd.DataFrame(getCompaniesNear(ele['lat'],ele['long'],100000))
        df.reset_index()
        listDf.append(df[['name', 'money_raised', 'founded_year', 'lat', 'long']])
    return listDf

In [56]:
listGame1M100K = getListOffice100km(videGamesMt1M)

In [57]:
listGame1M100K[0].name.count()

20

In [58]:
maximo = 0
for ele in listGame1M100K:
    if ele.name.count() > maximo:
        maximo = ele.name.count()

In [59]:
listGame1M100K=list(filter(lambda df:False if df.name.count() in range(maximo//2,maximo+1) else True,listGame1M100K))
len(listGame1M100K)

119

In [60]:
def getInterCord(df):
    return {'lat':round(df.lat.mean(),0),
           'long':round(df.long.mean(),0)}

In [61]:
dfInterPosition = pd.DataFrame(list(map(getInterCord,listGame1M100K)))

In [67]:

dfInterPosition

      lat   long
0    41.0  -74.0
1    41.0  -74.0
2    51.0    7.0
3    48.0 -122.0
4    48.0 -122.0
..    ...    ...
114  41.0  -74.0
115  49.0    2.0
116  41.0  -74.0
117  49.0 -123.0
118  48.0 -122.0

[119 rows x 2 columns]

In [120]:
queryliteral='carrefour'
lugar='ubeda'
lat = 37.9473126 
long = -3.4980420 
dist = 10000
tipo = 'clinica'
keyword = 'dentista'

In [121]:
urlForQuery = "https://maps.googleapis.com/maps/api/place/autocomplete/json?input={}%20{}&inputtype=textquery&key={}".format(queryliteral,lugar,getVariable('mapsToken'))
urlNearPoint = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius={}&type={}&keyword={}&key={}".format(lat,long,dist,tipo,keyword,getVariable('mapsToken'))

In [122]:
import requests as re
r = re.get(urlNearPoint)
r.status_code

200

In [128]:
for ele in r.json()['results']:
    print(ele['name'])

Clinica Medicodental SM Baeza
Clinica Dental Ruiz y Cobo - Baeza
Clínica Dental Nuria Calvo Cervera
Dental Company Baeza
Clínica Balboa
Laboratorio dental ANSODENT
MEDICODENTAL SM
Clínica medicodental SM
Clínica Dental Carmen Riola Gutiérrez
Clínica Dental Miguel Molina Navarrete
Medicodental SM (Cronista)
TorqueDental